version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
    # Update the direct dependencies and not the indirect ones,
    # since there are too many ones, and dependabot reaches its 1h timeout most of the time):
    # - direct: explicitly defined dependencies in the Cargo.toml file
    # - indirect: transient dependencies in the Cargo.lock file
    allow:
      - dependency-type: direct
    ignore:
      # As for now, disable the update of biome dependencies
      # See: https://github.com/biomejs/biome/issues/5151
      - dependency-name: biome_*
      # Bincode is unmaintained and considered complete (sans CVE fixes). v3
      # exists but is effectively an empty crate. For context, see:
      # https://crates.io/crates/bincode/3.0.0
      - dependency-name: bincode
        update-types: ["version-update:major"]
    groups:
      cargo:
        patterns:
          - "*"
